.courses_showcase{ 
  height: 270px;  
  background: url(../images/courses_showcase.jpeg) no-repeat -400px -500px;
}

.courses_showcase h1{
  font-size: 70px;
    color: #7fefbd;
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px #000000;
}


.seperator{
  color: #0066cc;
  padding: 7px;
  margin-bottom: 10px;
}

.course_card{
  padding: 5px;
  margin-bottom: 20px;
}

.course_card > .card{
  border: 0px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15), 0 6px 6px 0 rgba(0, 0, 0, 0.15);
  background: #eeb902;
}

.course_card > .card:hover {
  border: 3px;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.3), 0 7px 7px 0 rgba(0, 0, 0, 0.3);
  background: #eeb902;   
}


.course_card > .card > .row > .col-md-7 > .course_content {
  color: #474647;
  padding: 3px;
  margin-top: 10px;
} 


.course_card > .card > .row > .apply_button { 
   text-align: center;
}

.course_card > .card > .row > .apply_button > button { 
  margin-top: 45px;
}

@media(max-width:768px){
  .course_card > .card > .row > .col-md-7 > .course_content {
    color: #474647;
    padding: 10px;
  }

  .course_card > .card > .row > .apply_button > button { 
    margin: auto auto 30px auto;
    display: block;
    align-content: center;
    width: 70%;
    }
}